<div class="smart-wearables">
    <h2>Smart Wearbles</h2>
    <br>
    <div class="row">
        <div class="col col-lg-4 col-md-6 col-sm-12 card" *ngFor="let wear of Wearables">
            <img [src]="wear.img" class="card-img-top smartIMG" alt="...">
                <div class="card-body">
                    <h4>{{wear.name}}</h4>
                    <p [style.font-style]="'italic'" [style.font-family]="'cursive'">{{wear.desc}}</p>
                    <p><b>{{wear.price | currency:"INR"}}</b></p>
                </div>
        </div>
    </div>
    
</div>