.top-add{
    width: 100%;
}
.ele_products{
    float: left;
    width: 75%;
}
 
.card-body {
    text-align: center;
    font-family: cursive;
}

.cardHead {
    margin-top: 30px;
}

hr{
    margin-left: 60px;
}