.dashboard{
    margin: 0px 250px 100px 250px;
    border:1px solid rgb(227, 224, 216);
    box-shadow: 5px 7px 25px #888888;;
    border-radius: 20px;
}
.dashboard h1{
    margin-left: 15px;
    margin-top: 10px;
}

.navbar{
    border-radius: 20px 20px 0px 0px;
}
table{
    margin-top: 20px;
    margin-left: 20px ;
}
tr{
    border-style: hidden;
}
.prodimg{
    height: 40px;
    width: 60px;
    border-radius: 5px;
}
#addbtn{
    margin-left:450px;
    margin-bottom: 50px;
}