<div class="container  ">
    <div class="head">
        <br>
        <h3>Register</h3>
    </div> 
    <div class="contain-item">
         <br><br>
        <input type="text" name="username" id="name" placeholder="Username"><br><br>
        <input type="email" name="email" id="email" placeholder="Email"><br><br>
        <input type="phone" name="phone" id="phone" placeholder="Phone Number" ><br><br>
        <input type="password" name="password" id="pwd" placeholder="Password" ><br><br>

        <input type="button" class="loginbtn"  value="Register">
        <p class="signup">Already an User? <a href="#">Login</a></p>

    </div>

</div>